body, html {
	font-family: Helvetica, arial, sans-serif;
	font-size: 18px;
	line-height: 1.4;
}

/* containter styles */
.container {
	max-width: 960px;
	padding: 2rem 1rem;
	display: flex;
	align-items: center;
	margin: 0 auto;
}

/* banner styles */
.banner {
	background-image: url("../img/glasses-bg.png"); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 25em;
}

/* corporate section */
.corporate {
	padding: 1rem 0 1rem 0;
	background-color: cadetblue;
	width: 100%;
	color: white;
}

.corporate img {
	height: 1.5rem;
	margin-right: 1rem;
	margin-left: 2rem;
}

/* nav styles */
nav {
	float: right;
}

nav span {
	margin-right: 2rem;
}

.headline-container {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
.headline {
	padding: 1.5rem 5rem;
	max-width: 60%;
	font-weight: bold;
	font-size: 2rem;
	line-height: 1.2;
	background-color: white;
}

/* 768 breakpoint styles for banner section */
@media only screen and (max-width: 768px) {
		.container {
			max-width: 100%;
			display: flex;
			align-items: center;
			margin: 0 auto;
		}

		.banner {
			height: 22rem;
		}

		.corporate {
			padding: 1rem 0 1rem 0;
			background-color: cadetblue;
			width: 100%;
			color: white;
		}

		.headline-container {
			margin: 5rem 2rem 0 0;
		}

		.headline {
			padding: 0.75rem 4rem;
			max-width: 60%;
			font-weight: bold;
			font-size: 1.33rem;
			line-height: 1.2;
			background-color: white;
		}
}

/* 480 breakpoint styles for banner section */
@media only screen and (min-width: 480px) {

}

/* services styles */
.services {
	display: flex;
	flex-direction: row;
	margin-top: 3rem;
	margin: 0 auto;
}

.service {
	margin-right: 6rem;
	text-align: center;
	height: 8rem;
	width: 5rem;
	display: flex;
	flex-direction: column;
}

.exams img {
	width: 3.5rem;
}

.fittings img {
	width: 5rem;
}

.delivery img {
	width: 5rem;
}

/* 768 breakpoint styles for services section */
@media only screen and (max-width: 768px) {
		.services {
			padding-top: 3rem;
		}
}

/* 480 breakpoint styles for services section */
@media only screen and (min-width: 480px) {
	
}

/* information styles */
.company-information {
	margin-top: 3rem;
	width: 100%;
	display: flex;
}

.company-info {
	width: 35%;
	margin-right: 5%;
}

.info-title {
	font-weight: bold;
	font-size: 1rem;
	color: white;
	background-color: cadetblue;
	padding: 1.25rem 0.5rem;
}

.company-info p {
	margin-top: 1rem;
}

/* 768 breakpoint styles for infomation section */
@media only screen and (max-width: 768px) {
		.company-information {
			margin-top: 3rem;
			margin-left: 20%;
		}
}

/* 480 breakpoint styles for information section */
@media only screen and (min-width: 480px) {
	
}

/* footer styles */
footer {
	padding: 4rem 4rem;
	background-color: azure;
	max-width: 960px;
	margin: 0 auto;
	display: flex;
}

/* 480 breakpoint styles for footer section */
@media only screen and (min-width: 480px) {
	
}