body, html {
	font-family: Helvetica, arial, sans-serif;
	font-size: 18px;
	line-height: 1.4;
}

/* containter styles */

/* nav styles */

/* banner styles */

/* services styles */

/* information styles */

/* footer styles */